@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Sigmar+One&display=swap') ;

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Sigmar One', cursive;
*/

html {
  font-family: Open Sans, sans-serif;
  font-weight: 800;
}

body {
  min-height: 100vh;
  background-image: url('/imgs/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  margin: 30px auto;
  max-width: 300px;
  color: white;
  background: linear-gradient(to bottom, rgb(130, 241, 97), rgb(83, 207, 10));
}

#color-palette {
  text-align: center;
}

.color {
  text-align: center;
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  cursor: pointer;
}

#color1 {
  background: black;
}

#board-form {
  display: inline;
}

#input-content {
  text-align: center;
}

label {
  color: white;
}

#pixels-content {
  margin: 50px;
  display: flex;
  justify-content: center;
}

#pixel-board {
  display: grid;
  grid-template-columns: repeat(5, 40px);
  gap: none;
  cursor: pointer;
}

.pixel {
  background-color: white;
  height: 40px;
  width: 40px;
  border: 1px black solid;
}
